{# @prop form The Symfony FormView #}
{# @prop submitField The submit field name, default to 'submit' #}
{# @prop deleteButtonLink Optional URL for the delete action #}
{# @prop deleteSwalTitle SweetAlert title for delete confirmation #}
{# @prop deleteSwalText SweetAlert body text for delete confirmation #}
{# @prop deleteSwalColor SweetAlert color for delete confirmation #}
{% if form[submitField] is defined %}
    <div class="flex sm:justify-between gap-3 flex-wrap">
        <div class="flex gap-2">
            {{ form_widget(form[submitField]) }}

            <twig:SFUIToolbox:Generic:Button type="reset" variant="ghost">
                {{ 'reset'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        </div>

        {% if deleteButtonLink is not null %}
            <twig:SFUIToolbox:Generic:SweetAlert
                swalTitle="{{ deleteSwalTitle }}"
                swalText="{{ deleteSwalText }}"
                swalColor="{{ deleteSwalColor }}"
            >
                <twig:block name="content">
                    <twig:SFUIToolbox:Generic:Button
                        link="{{ deleteButtonLink }}"
                        variant="destructive"
                    >{{ 'ask_delete'|trans }}</twig:SFUIToolbox:Generic:Button>
                </twig:block>
            </twig:SFUIToolbox:Generic:SweetAlert>
        {% endif %}
    </div>
{% endif %}