{% if pageCount > 1 %}
    <div class="inline-flex gap-x-2 justify-end">
        {% if previous is defined %}
            <twig:SFUIToolbox:Generic:Button
                variant="outline"
                link="{{ path(route, query|merge({(pageParameterName): previous})) }}"
            >
                {{ 'previous'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        {% else %}
            <twig:SFUIToolbox:Generic:Button
                variant="outline"
                disabled
            >
                {{ 'previous'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        {% endif %}

        {% if next is defined %}
            <twig:SFUIToolbox:Generic:Button
                variant="outline"
                link="{{ path(route, query|merge({(pageParameterName): next})) }}"
            >
                {{ 'next'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        {% else %}
            <twig:SFUIToolbox:Generic:Button
                variant="outline"
                disabled
            >
                {{ 'next'|trans }}
            </twig:SFUIToolbox:Generic:Button>
        {% endif %}
    </div>
{% endif %}